.foto_footer{
    width: 80vw;
}

.imagen__footer{
    text-align: center;
}

/*Footer*/


.foto_footer{
  width: 80vw;
}
    
.imagen__footer{
  text-align: center;
}
    
/*Footer*/

.footer{
  margin-top: 50px;
  width: 100vw;
}
    
.caja1{
  text-align: center;
}
    
.caja2{
 text-align: center;
}
    
.caja3{
 text-align: center;
}
    
    