
.texto-aceitunas{
    margin-top: 100px;

}
.card{
    margin-top: 50px;
    text-align: -webkit-center;
    padding-top: 20px;

}

.boton_card{
    text-align: -webkit-center;

}

.ocultar{
    visibility: hidden;
}

.modal-prod{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 40px;
  
}

.h5, h5 {
    font-size: 1rem;
    text-align: initial;
    width: 300px;
    padding-top: 60px;
    
}

.img-prod{
    padding: 20px;
}

.modal-title{
    padding-left: 75px;
}

.btn-vermas{
    border-radius: 5px;
}


